*.pyc
*.coverage

# temporary files
*~

# database files
*.sqlite

# virtualenv environments
env*/

# build artifacts from python setup.py build or python setup.py install
build/
dist/
*egg*/
docs/_build
