# Recursively require all the normal packages required by the code. These are
# required for Sphinx autodoc documentation generation to work (since it has to
# load up the modules containing the automatically documented classes, methods,
# etc.).
-r requirements.txt

# plus...
sphinx
sphinxcontrib-httpdomain-withpatch==1.1.6-patch2
